extends ../layouts/default

block content
	.container: .jumbotron
		
		h2 I believe in manicures. I believe in overdressing. I believe in primping at leisure and wearing lipstick. I believe in pink. I believe that laughing is the best calorie burner.I believe in kissing, kissing a lot. I believe in being strong when everything seems to be going wrong. I believe happy girls are the prettiest girls. I believe that tommorow is another day and I believe in miracles." 
		p ~ Audrey Hepburn
	
